@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  background-color:  #323232;
  line-height: 1.6;
  padding-bottom: 60px;
  margin: 0;
  height: 100vh;
  overflow: auto;
}

header, footer {
  background-color: #242424;
  color: white;
  padding: 10px 20px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li {
  margin: 0 10px;
}

nav a, .button {
  color: white;
  background-color: transparent;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

button, .button {
  border-radius: 12px;
  padding: 10px 20px;
  
}

button:hover, .button:hover, nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #4CAF50;
}

.container {
  max-width: 1200px;
  margin: 250px auto;
  padding: 30px;
}

.section {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1, h2, p {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  color: #8884d8;
}

@media (max-width: 768px) {
  .container, .section {
    margin: 80px 10px 0 10px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 5px 0;
  }
}


/* Login Page CSS */
.loginform {
  max-width: 400px;
  min-height: 125px;
  margin: 175px auto;
  padding: 20px;
  background-color: white-smoke;
  border-radius: 8px;
}

.loginform input[type="text"], .loginform input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


